
.loginAll {
    transform: scale(1.5)
 }

.formLogin {
    display: grid;
    grid-template-columns: auto;
}

.log-in-out {
    background-color: #E04D39;
    color: white;
}

.inputEmail {
    margin: 5px;
    text-align: center;
}
